<template>
        <v-table density="compact">
        <thead>
          <tr>
            <th class="text-left">
              Nom du joueur-se
            </th>
            <th class="text-left">
              Classement
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="player in players"
            :key="player.pseudo"
          >
            <td>{{ player.pseudo }}</td>
            <td>{{ player.class }}</td>
            <td><v-btn size="x-small" icon="mdi-delete" color="amber-lighten-1"></v-btn></td>
          </tr>
        </tbody>
        </v-table>
    <v-btn
    color="amber-lighten-1"
    size="x-small"
    :to="`/`"
    >
      Ajouter un-e joueur-se
  </v-btn>
</template>
  
<script setup>
  
import { ref } from 'vue'
import { getPlayers } from '@/api/api.js'
import { useRoute } from 'vue-router'

const route = useRoute()
const players = ref([])

getPlayers(route.params.id).then((res) => {
  players.value = res
})
  
</script>
  