<template>
    <h2>Créer une nouvelle étape !</h2>

    <v-form ref="form">
          <v-select
            name="step_type"
            label="Type de l'étape"
            v-model="step_type"
            required
            :items="['Elimination', 'Mêlée', 'Poule']"
          ></v-select>

          <v-btn @click="submit" class="mt-4" color="amber-lighten-1">Valider la création</v-btn>
    </v-form>
</template>
  
<script setup>
  
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import { useRoute } from 'vue-router'
  import { createStep } from "@/api/api.js";

  const router = useRouter()
  const route = useRoute()

  const step_type = ref();
  const form = ref()
 
async function submit() {
    const step_created = await createStep(route.params.id, step_type.value);
    if (step_created != 0)
      router.push("/tournament/"+route.params.id+'/step/'+step_created);
}

  
  </script>
  