<template>
  <p>Super étape !</p>

  <v-btn
  color="amber-lighten-1"
  >
    Générer l'étape
  </v-btn>

  <v-card>
        <v-tabs
          v-model="model"
          centered
        >
          <v-tab
            v-for="i in 3"
            :key="i"
            :value="i"
          >
            Manche {{ i }}
          </v-tab>
        </v-tabs>

    <v-window v-model="model">
      <v-window-item
        v-for="i in 3"
        :key="i"
        :value="i"
      >
        <v-card>
          <v-expansion-panels
      v-model="panel"
      :disabled="disabled"
      multiple
    >
      <v-expansion-panel>
        <v-expansion-panel-title>Match 1</v-expansion-panel-title>
        <v-expansion-panel-text>
          Some content
        </v-expansion-panel-text>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-title>Match 2</v-expansion-panel-title>
        <v-expansion-panel-text>
          Some content
        </v-expansion-panel-text>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-title>Match 3</v-expansion-panel-title>
        <v-expansion-panel-text>
          Some content
        </v-expansion-panel-text>
      </v-expansion-panel>
    </v-expansion-panels>
        </v-card>
      </v-window-item>
    </v-window>
  </v-card>

</template>

<script setup>

import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { getStep } from '@/api/api'

const route = useRoute()
const model = ref('tab-2')
const text = ref('Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.')

getStep(route.params.id, route.params.step_id).then((res) => {
  console.log(res)
})

</script>
