<template>
    <p>Les étapes</p>

    <v-btn
    color="amber-lighten-1"
    :to="`/tournament/${tournament_id}/step/create/`"
    >
        Nouvelle étape de tournoi
    </v-btn>

    <v-timeline align="start">
        <v-timeline-item
        v-for="(step, i) in steps"
        :key="i"
        dot-color="amber"
        size="small"
        >
        <template v-slot:opposite>
            <div
            :class="`pt-1 headline font-weight-bold text-amber`"
            v-text="step.step_type"
            ></div>
        </template>
        <div>
          <v-btn
          color="amber-lighten-1"
          :to="`/tournament/${tournament_id}/step/${step.id}/`"
          >
              Voir cette étape
          </v-btn>
        </div>
        </v-timeline-item>
    </v-timeline>
</template>

<script setup>

import { ref } from 'vue'
import { useRoute } from 'vue-router'
import { getSteps } from '@/api/api.js'

const route = useRoute()
const tournament_id = ref(route.params.id);
const steps = ref();

getSteps(tournament_id.value).then((res) => {
  steps.value = res
})

</script>
