<template>
    <div>Ceci est l'accueil</div>

    <v-btn
        color="amber-lighten-1"
        to="/tournament/"
    >
          <v-icon>mdi-tournament</v-icon>
          Tournois
    </v-btn>
</template>
  
<script setup>
</script>