<template>
  <v-row>
    <v-col
      offset="3"
      cols="6"
      class="d-flex justify-center align-center">
    <v-sheet
    class="pa-8 align-center justify-center flex-wrap text-center mx-auto"
    elevation="6"
    width="100%">
        <v-img
              src="src/assets/img/logo.png"
              max-width="150"
              class="mx-auto my-3"
              cover
        ></v-img>

        <p class="my-3">Connexion</p>
        
        <v-form @submit.prevent="submit">
        <v-text-field
            name="email"
            label="Email"
            v-model="email"
            required
          ></v-text-field>

          <v-text-field
            name="password"
            label="Mot de passe"
            v-model="password"
            type="password"
            required
          ></v-text-field>

          <v-btn type="submit" class="mx-4" color="amber-lighten-1">Se connecter</v-btn>
          <router-link to="/register" custom v-slot="{ navigate }">
            <v-btn class="mx-4" 
                   color="amber-lighten-1"
                   @click="navigate"
                   @keypress.enter="navigate"
                   role="link">
              Créer un compte
            </v-btn>
          </router-link>
        </v-form>
    </v-sheet>
  </v-col>
  </v-row>

  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      :color="snackbarColor"
    >
      {{ text }}

      <template v-slot:actions>
        <v-btn
          variant="text"
          @click="snackbar = false"
        >
          Fermer
        </v-btn>
      </template>
    </v-snackbar>
</template>

<script setup>
import { useAuthStore } from "@/stores/auth.store.js";
import { ref } from 'vue'

const email = ref();
const password = ref();

const snackbar = ref(false)
const text = ref("Connexion échoué")
const timeout = ref(2000)
const snackbarColor = ref("red-accent-4")

async function submit() {
    await useAuthStore().login(email.value, password.value);

    if (!useAuthStore().isLogged()) {
      snackbar.value = true;
    }
}

</script>
