<template>
  <v-row>
    <v-col
      offset="3"
      cols="6"
      class="d-flex justify-center align-center">
    <v-sheet
    class="pa-8 align-center justify-center flex-wrap text-center mx-auto"
    elevation="6"
    width="100%">
        <v-img
              src="src/assets/img/logo.png"
              max-width="150"
              class="mx-auto my-3"
              cover
        ></v-img>

        <p class="my-4">Créer son compte</p>
        
        <v-form @submit.prevent="submit">
          <v-text-field
            name="username"
            label="Nom d'utilisateur"
            v-model="username"
            required
          ></v-text-field>

        <v-text-field
            name="email"
            label="Email"
            v-model="email"
            required
          ></v-text-field>

          <v-text-field
            name="password"
            label="Mot de passe"
            v-model="password"
            type="password"
            required
          ></v-text-field>

          <v-text-field
            name="password2"
            label="Répéter votre mot de passe"
            v-model="password2"
            type="password"
            required
          ></v-text-field>

          <v-btn type="submit" class="mx-4" color="amber-lighten-1">Créer son compte</v-btn>
          <router-link to="/login" custom v-slot="{ navigate }">
            <v-btn class="mx-4" 
                   color="amber-lighten-1"
                   @click="navigate"
                   @keypress.enter="navigate"
                   role="link">
              Se connecter
            </v-btn>
          </router-link>
        </v-form>
    </v-sheet>
  </v-col>
  </v-row>

</template>

<script setup>
import { apiRegister } from "@/api/api.js";
import { ref } from 'vue';
import { useRouter } from 'vue-router'

const router = useRouter();
const email = ref();
const username = ref();
const password = ref();
const password2 = ref();

async function submit() {
    const register = await apiRegister(username.value, password.value, password2.value, email.value);
    router.push('/login')
}

</script>
