<template>
  <v-row v-if="isLoaded">
    <v-col
     cols="12"
     md="6"
    >
      <v-img
        cover
        height="250"
        src="https://i0.wp.com/laludikavern.com/wp-content/uploads/2022/03/Terraforming-Mars-Big-Box-Blog-1-e1646386387766.jpg?fit=800%2C450&ssl=1"
      ></v-img>
    </v-col>
    <v-col
     cols="12"
     md="6"
    >
    <div>
      <h2>{{ tournament.name }}</h2>
      <p>{{ tournament.description }}</p>
      <p>Nombre de joueur maximum : {{ tournament.nb_max_player }}</p>
      <p>Nombre de joueur par manche : {{ tournament.nb_player_by_round }}</p>
    </div>
    </v-col>
  </v-row>

  <v-divider
  :thickness="3"
  class="my-4"
  ></v-divider>

  <v-sheet>
    <PlayerTable></PlayerTable>
  </v-sheet>

  <v-divider
  :thickness="3"
  class="my-4"
  ></v-divider>

  <v-sheet>
    <RoundTable></RoundTable>
  </v-sheet>

</template>

<script setup>

import { ref } from 'vue'
import { useRoute } from 'vue-router'
import PlayerTable from '@/components/player/PlayerTable.vue'
import RoundTable from '@/components/round/RoundTable.vue'
import { getTournament } from '@/api/api'

const route = useRoute()
const tournament = ref()
const isLoaded = ref(false)

getTournament(route.params.id).then((res) => {
  tournament.value = res
  isLoaded.value = true;
})

</script>
