<template>
  <v-btn
    color="amber-lighten-1"
    :to="`/tournament/create/`"
  >
      Nouveau tournoi
  </v-btn>
  <v-table>
    <thead>
      <tr>
        <th class="text-left">Nom du tournoi</th>
        <th class="text-left">Description</th>
        <th class="text-left">Date début</th>
        <th class="text-left">Nb joueur maximum</th>
        <th class="text-left">Joueur / round</th>
        <th class="text-left"></th>
        <th class="text-left"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="tournament in tournaments"
        :key="tournament.id"
      >
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.description }}</td>
        <td>{{ tournament.date_start }}</td>
        <td>{{ tournament.nb_max_player }}</td>
        <td>{{ tournament.nb_player_by_round }}</td>
        <td><v-btn size="small" icon="mdi-pencil" color="amber-lighten-1" :to="`/tournament/${tournament.id}`"></v-btn></td>
        <td><v-btn size="small" icon="mdi-delete" color="amber-lighten-1"></v-btn></td>
      </tr>
    </tbody>
  </v-table>
</template>

<script setup>

import { ref } from 'vue'
import { APISettings } from '../../api/config.js'

const tournaments = ref();

async function getTournament() {
  const res = await fetch(APISettings.baseURL + '/tournament/', {
        method: 'GET',
        headers: APISettings.headers
  });
  const finalRes = await res.json();
  tournaments.value = finalRes.results;
}

getTournament()

</script>
