<template>
      <v-navigation-drawer
        v-model="drawer"
        :rail="rail"
        rounded
        permanent
        class="bg-grey-darken-4 mx-2 my-3 mb-20"
      >

        <v-list-item v-if="!rail" prepend-icon="mdi-chevron-left" @click.stop="rail = !rail"></v-list-item>
        <v-list-item v-else prepend-icon="mdi-chevron-right" @click.stop="rail = !rail"></v-list-item>

        <v-divider></v-divider>
        <v-list>
            <v-list-item prepend-icon="mdi-tournament" title="Tournois" :to="resumeTournamentUrl">
              <v-tooltip activator="parent" location="end">
                Résumé
              </v-tooltip>
            </v-list-item>
            <v-list-item prepend-icon="mdi-account-group" title="Joueurs" :to="playerTournamentUrl">
              <v-tooltip activator="parent" location="end">
                Joueurs
              </v-tooltip>
            </v-list-item>
            <v-list-item prepend-icon="mdi-flash" title="Etapes" :to="stepTournamentUrl">
              <v-tooltip activator="parent" location="end">
                Etapes
              </v-tooltip>
            </v-list-item>
            <v-list-item prepend-icon="mdi-medal" title="Classement" :to="stepTournamentUrl">
              <v-tooltip activator="parent" location="end">
                Classement
              </v-tooltip>
            </v-list-item>
          </v-list>
      </v-navigation-drawer>
      <v-main>
        <v-container>
          <router-view></router-view>
        </v-container>
      </v-main>
</template>

<script setup>

import { ref } from 'vue'
import { useRoute } from 'vue-router'

const drawer = ref(true);
const rail = ref(true);
const route = useRoute()

const tournamentId = route.path.split('/')[2]
const stepTournamentUrl = ref('/tournament/' + tournamentId + '/step')
const playerTournamentUrl = ref('/tournament/' + tournamentId + '/player')
const resumeTournamentUrl = ref('/tournament/' + tournamentId + '/resume')

</script>
