<template>
    <h2>Créer un nouveau tournoi !</h2>

    <v-form ref="form">
        <v-text-field
            name="name"
            label="Nom du tournoi"
            v-model="name"
            required
          ></v-text-field>

          <v-textarea
            name="description"
            variant="filled"
            label="Description"
            auto-grow
            v-model="description"
            required
          ></v-textarea>

          <v-file-input
            accept="image/*"
            label="Image du tournoi"
            v-model="img"
          ></v-file-input>

          <v-row>
            <v-col
                cols="6"
            >
                <v-text-field
                v-model="nb_player_by_round"
                label="Nombre de joueur-ses par round"
                type="number"
                density="compact"
                :min="2"
                :max="12"
                required
                ></v-text-field>
            </v-col>
            <v-col
                cols="6"
            >
                <v-text-field
                v-model="nb_player_max"
                label="Nombre de joueur-ses max"
                type="number"
                density="compact"
                :min="2"
                :max="128"
                required
                ></v-text-field>
            </v-col>
          </v-row>

          <VueDatePicker 
          v-model="start_date"
          name="Date de début"
          >
          </VueDatePicker>

          <v-btn @click="submit" class="mt-4" color="amber-lighten-1">Valider la création</v-btn>
    </v-form>
</template>
  
<script setup>
  
  import { ref } from 'vue'
  import { useRouter } from 'vue-router'
  import { createTournament } from "@/api/api.js";

  import VueDatePicker from '@vuepic/vue-datepicker';
  import '@vuepic/vue-datepicker/dist/main.css'

  const router = useRouter()
  const name = ref();
  const description = ref();
  const img = ref();
  const nb_player_by_round = ref();
  const nb_player_max = ref();
  const start_date = ref();
  const form = ref()
 
async function submit() {
    const tournament_created = await createTournament(name.value,
                                            description.value,
                                            nb_player_by_round.value,
                                            nb_player_max.value);
    if (tournament_created != 0)
      router.push("/tournament/"+tournament_created+'/resume/');
}

  
  </script>
  