<template>
  <v-btn
    color="amber-lighten-1"
    :to="`/tournament/create/`"
  >
      Nouveau tournoi
  </v-btn>
  <v-row>
    <v-col
     v-for="tournament in tournaments"
     :key="tournament.id"
     cols="12"
     xl="3"
     lg="4"
     md="6"
    >
  <v-card
    class="mx-auto my-3"
    max-width="374"
  >
    <template v-slot:loader="{ isActive }">
      <v-progress-linear
        :active="isActive"
        color="deep-purple"
        height="4"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      cover
      height="250"
      src="https://i0.wp.com/laludikavern.com/wp-content/uploads/2022/03/Terraforming-Mars-Big-Box-Blog-1-e1646386387766.jpg?fit=800%2C450&ssl=1"
    ></v-img>

    <v-card-item>
      <v-card-title>{{ tournament.name }}</v-card-title>
      <v-card-text>{{ tournament.description }}</v-card-text>
    </v-card-item>

    <v-card-text>
      <v-progress-linear 
          color="dark-blue"
          model-value="33" 
          :height="20">Inscris</v-progress-linear>
    </v-card-text>


    <div class="d-flex py-3 justify-space-between">
      <v-list-item
        density="compact"
        prepend-icon="mdi-account-group"
      >
        <v-list-item-subtitle>{{ tournament.nb_max_player }}</v-list-item-subtitle>
      </v-list-item>

      <v-list-item
        density="compact"
        prepend-icon="mdi-fencing"
      >
        <v-list-item-subtitle>{{ tournament.nb_player_by_round }}</v-list-item-subtitle>
      </v-list-item>
    </div>

    <v-card-actions>
      <v-btn
        variant="text"
        :to="`/tournament/${tournament.id}/resume`"
      >
        Plus d'information
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-col>
  </v-row>
</template>

<script setup>

import { ref } from 'vue'
import { getTournaments } from '../../api/api.js'

const tournaments = ref();

getTournaments().then((res) => {
  tournaments.value = res;
})

</script>
