<template>
    <v-app>
      <div v-if="!APISettings.publicPages.includes(router.currentRoute.value.fullPath)">
<!--         <v-navigation-drawer 
          permanent
          :rail="rail"
          v-model="drawer"
          class="bg-grey-darken-4">

          <router-link to="/">
            <v-img
              src="src/assets/img/logo.png"
              max-width="150"
              class="mx-auto my-3"
              cover
            ></v-img>
          </router-link>

          <v-divider></v-divider>

          <v-list>
            <v-list-item prepend-icon="mdi-tournament" title="Tournois" to="/tournament/">
              <v-tooltip
                activator="parent"
                location="end"
              >Tournois</v-tooltip>
            </v-list-item>
          </v-list>
        </v-navigation-drawer> -->

        <v-app-bar class="bg-amber-lighten-1">
              
          <v-img
            class="ml-5"
            src="src/assets/img/logo.png"
            max-height="56"
            max-width="56"
            contain
          ></v-img>
<!--           <template v-slot:prepend>
            <v-btn
                v-if="!rail"
                variant="text"
                icon="mdi-chevron-left"
                @click.stop="rail = !rail"
              ></v-btn>
              <v-btn
                v-else
                variant="text"
                icon="mdi-chevron-right"
                @click.stop="rail = !rail"
              ></v-btn>
          </template> -->
 
          <template v-slot:append>
           <v-menu>
            <template v-slot:activator="{ props }">
              <v-list-item
                append-avatar="https://randomuser.me/api/portraits/women/81.jpg"
                :title="pseudo"
                v-bind="props"
              ></v-list-item>
            </template>
            <v-list>
              <v-list-item>
                <button @click="authStore.logout()" 
                  class="btn btn-link nav-item nav-link">Se déconnecter</button>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
        </v-app-bar>
      </div>

      <router-view></router-view>
    </v-app>
</template>

<script setup>

import { ref } from 'vue'
import { useAuthStore } from './stores/auth.store'
import { getUser } from '@/api/api.js'
import { APISettings } from '@/api/config.js'
import router from '@/router';

const authStore = useAuthStore()
const pseudo = ref("")

authStore.inspectToken().then(_ => {
  if (authStore.isLogged()) {
    getUser().then((res) => {
      pseudo.value = res.username;
    })
  }
})

</script>
